html{
    font-family: 'Domine', serif;
    box-sizing: border-box;
}

*,
*:before, 
*:after {
  box-sizing: inherit;
}

#map{
    border: 1px solid red;
    height: 100vh; 
}

header{
    text-align: center;
}

table{
    border: 1px solid black;
}